* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

body { 
  font-family: arial, helvetica, sans-serif; 
  font-size: 16px; 
}

.container {
  background-image: url('../Images/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

audio { 
  display: block; 
}

.hidden { 
  display: none; 
}

#playButton {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  width: 37px;
  height: 37px;
}

#pauseButton{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

#rewindButton {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.track-ref { 
  cursor: pointer; padding: 1em; 
}