
* {
  padding: 0;
  margin: 0;
  /* border: solid 0.5px; */
}

html, body {
  overflow: hidden;
  height: 100%;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
}

.backgroundStars {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgb(178,177,205);
  background: radial-gradient(circle at center 15%, rgba(178,177,205,1) 21%, rgba(120,118,156,1) 45%, rgba(58,67,109,1) 100%);
  overflow: hidden;
}

.container1 {
  background-image: url('../images/svg_stars_1.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  animation: twinkle1 3s infinite alternate;
  overflow: hidden;
}

@keyframes twinkle1 {
  from {
      opacity: 0;
      transform: scale(.98);
  }
  to {
      opacity: 1;
      transform: scale(1.005);
  }
}

.container2 {
  background-image: url('../images/svg_stars_2.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  animation: twinkle2 3s infinite alternate;
  overflow: hidden;
}

@keyframes twinkle2 {
  from {
      opacity: 1;
      transform: scale(1.005);
  }
  to {
      opacity: 0;
      transform: scale(0.98);
  }
}

.backgroundClouds {
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  background-image: url('../images/clouds_bg_backLeft.svg'), url('../images/clouds_bg_backRight.svg');
  background-size: cover;
  background-position: center;
  overflow: visible;
}

.backgroundPlanets {
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  background-image: url('../images/planet_bg_left.svg'),
  url('../images/planet_bg_right.svg'),
  url('../images/planet_bg_mid.svg'),
  url('../images/planet_bg_mid_moon.svg');
  background-size: cover;
  background-position: center;
  overflow: visible;
}

.foregroundClouds {
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  background-image: url('../images/clouds_bg_frontLeft.svg'), url('../images/clouds_bg_frontRight.svg');
  background-size: cover;
  background-position: center;
  overflow: visible;
}

.backgrounPanel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 800px;
  height: 100vh;
  background-image: url('../images/dj_panel_bg.svg');
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

audio { 
  display: block; 
}

.audioPanel {
  position: absolute;
  bottom: 72px;
  left: 50%;
  transform: translateX(-50%);
}

.audioControls {
  display: flex;
  flex-direction: row;
  gap: 30px;
  transform: scale(.74);
  margin-bottom: 10px;
}

#volumeControl {
  position: absolute;
  transform: scale(1.6);
  left: 50%;
  transform: translateX(-50%);
}

#playButton, #pauseButton, #rewindButton {
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.track-ref {
  position: absolute;
  width: 64px;
  height: auto;
}

#esInstruments {
  bottom: 60px;
  left: 24.5px;
}

#esBass {
  bottom: 99px;
  left: 53px;
}

#esMelody {
  bottom: 60px;
  right: 24.5px;
}

#esDrums {
  bottom: 99px;
  right: 53px;
}

